[submodule "snappy"]
	path = snappy
	url = https://github.com/google/snappy
[submodule "gflags"]
	path = gflags
	url = https://github.com/gflags/gflags
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/google/protobuf.git
[submodule "OpenBLAS"]
	path = OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/bureau14/leveldb.git
