[submodule "snappy"]
	path = snappy
	url = https://github.com/google/snappy
[submodule "leveldb"]
	path = leveldb
	url = ./leveldb
[submodule "gflags"]
	path = gflags
	url = https://github.com/gflags/gflags
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
